.root{
    --primarycolor:#4CAF4F ;
    --secondarycolor: #F5F7FA;

}

.greenbtn{
    background-color: #4CAF4F;
    color: white;
    font-family: robbto;
}


/* Hero section start */
.fulid{
    background-color: #F5F7FA;
}

.body{
 color: #4CAF4F !important;
}
  
 
/* Hero section end */


/* Capaines  sec start  */


@media screen and (min-width:579px) {
    
}

.minimize{
    width: 7%;
}