.root{
    --primarycolor:#4CAF4F ;
    --secondarycolor: #F5F7FA;

}

.greenbtn{
    background-color: #4CAF4F;
    color: white;
    font-family: robbto;
}


/* Hero section start */
.fulid{
    background-color: #F5F7FA;
}

.body{
 color: #4CAF4F !important;
}
  
 
/* Hero section end */


/* Capaines  sec start  */




/* Capaines sec end */


/* Commiunity sec start  */
.national-2{
    width: 90%;
}

.national{
    width: 60%;
}
.icon{
    width: 25%;
}

.png{
    width: 25%;
}

.svg{
    width: 25%;
}
/* Commiunity sec end */



/* Spending sec start */


.lazy{
    width: 92%;
}

.word{
    width: 53%;
}

/* Spending sec end */



/* Feature section start */

.nex{
    width: 43%;
    font-size: 20%;
}

/* Feature  section end */


/*Libero section start  */
.suscipit{
    font-size:30px;

}

.btn-green{
background-color: #4CAF4F;
  
}
  



  

@media screen and (min-width:576px) {
    .minimize{
    width: 7%;
}
}


@media screen and (min-width: 768px) and (max-width:991px) {
     .little{
        text-align: center;
        width: 100%;
     }
}







@media screen and (max-width:991px) {
    
  
    
    /* Commiunity sec start */

     .little{
        text-align: center;
     }

    .point{
        font-size: 35px;
    }
    .true{
         order: 1;
    }

    .fix{
        width: 100%;
        order: 2;
       
    }
}

