.root{
    --primarycolor:#4CAF4F ;
    --secondarycolor: #F5F7FA;

}

.greenbtn{
    background-color: #4CAF4F;
    color: white;
    font-family: robbto;
}


/* Hero section start */
.fulid{
    background-color: #F5F7FA;
}

.body{
 color: #4CAF4F !important;
}
  
 
/* Hero section end */


/* Capaines  sec start  */


@media screen and (min-width:579px) {
    
}

.minimize{
    width: 7%;
}

/* Capaines sec end */


/* Commiunity sec start  */
.national-2{
    width: 90%;
}

.national{
    width: 60%;
}
.icon{
    width: 25%;
}

.png{
    width: 25%;
}

.svg{
    width: 25%;
}
/* Commiunity sec end */

